<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>客户须知</title>
	<meta charset="utf-8"/>  
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/style02.css}"/>
</head>


<body>
	<h1>——&nbsp;客户须知&nbsp;——</h1>
	<div class="content">
		<img th:src="@{/asset/img/zhengshu.jpg}" width="100%;"/>
	</div>
	<div class="footer">
		<p class="footer_content">当您收到报告后,可享受一年期内专业遗传咨询师一对一报告咨询解读服务;如果需要咨询,可致电美因基因客服 热线 400-008-0280,我们会在 24 小时内进行预约安排。服务时间:周一到周五早 9:00- 晚 18:00,法定节假日除外; 也可以通过扫描下图的微信二维码,关注我们的微信公共号进行咨询。</p>

		<div class="logo">
		<hr style="margin-top: 0.6em;height: 2px;width:96%;border:none;border-top:2px dashed #000;"/>		
			<img th:src="@{/asset/img/logo.png}" style="width:50%;height:50%;" /> 
		</div>
	</div>
</body>
</html>