<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meiyin.mapper.ItemPrecautionAdviceMapper" >
  <resultMap id="BaseResultMap" type="meiyin.domain.ItemPrecautionAdvice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="risk_level_id" property="riskLevelId" jdbcType="BIGINT" />
    <result column="advice_id" property="adviceId" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, risk_level_id, advice_id, item_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="meiyin.domain.ItemPrecautionAdviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item_precaution_advice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from item_precaution_advice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item_precaution_advice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="meiyin.domain.ItemPrecautionAdviceExample" >
    delete from item_precaution_advice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="meiyin.domain.ItemPrecautionAdvice" >
    insert into item_precaution_advice (id, risk_level_id, advice_id, 
      item_id)
    values (#{id,jdbcType=BIGINT}, #{riskLevelId,jdbcType=BIGINT}, #{adviceId,jdbcType=BIGINT}, 
      #{itemId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="meiyin.domain.ItemPrecautionAdvice" >
    insert into item_precaution_advice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="riskLevelId != null" >
        risk_level_id,
      </if>
      <if test="adviceId != null" >
        advice_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="riskLevelId != null" >
        #{riskLevelId,jdbcType=BIGINT},
      </if>
      <if test="adviceId != null" >
        #{adviceId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="meiyin.domain.ItemPrecautionAdviceExample" resultType="java.lang.Integer" >
    select count(*) from item_precaution_advice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item_precaution_advice
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.riskLevelId != null" >
        risk_level_id = #{record.riskLevelId,jdbcType=BIGINT},
      </if>
      <if test="record.adviceId != null" >
        advice_id = #{record.adviceId,jdbcType=BIGINT},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item_precaution_advice
    set id = #{record.id,jdbcType=BIGINT},
      risk_level_id = #{record.riskLevelId,jdbcType=BIGINT},
      advice_id = #{record.adviceId,jdbcType=BIGINT},
      item_id = #{record.itemId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="meiyin.domain.ItemPrecautionAdvice" >
    update item_precaution_advice
    <set >
      <if test="riskLevelId != null" >
        risk_level_id = #{riskLevelId,jdbcType=BIGINT},
      </if>
      <if test="adviceId != null" >
        advice_id = #{adviceId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="meiyin.domain.ItemPrecautionAdvice" >
    update item_precaution_advice
    set risk_level_id = #{riskLevelId,jdbcType=BIGINT},
      advice_id = #{adviceId,jdbcType=BIGINT},
      item_id = #{itemId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>